[submodule "di"]
	path = di
	url = https://github.com/boost-experimental/di
	branch = cpp14
[submodule "boost-nowide"]
	path = boost-nowide
	url = https://github.com/halex2005/boost-nowide
	branch = master
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
	branch = master
